In [9]:
import pandas as pd 
from sqlalchemy import create_engine

from dotenv import load_dotenv
import os 
import json

load_dotenv()
db_string = os.getenv('DATABASE_URL')

In [3]:

engine = create_engine(db_string)

In [4]:
THRESHOLD = 15

In [5]:
df = pd.read_sql_table("velocity", engine)

In [6]:
def return_unique_categories(df):
    categories = {}
    for col in df.columns:
        unique_categories = df[col].nunique()
        if unique_categories < THRESHOLD: 
            categories[col] = df[col].drop_duplicates().tolist()
        else: 
            categories[col] = df[col].drop_duplicates().sample(THRESHOLD).tolist()
    return categories

In [7]:
unique_categories = return_unique_categories(df)

In [10]:
json.dumps(unique_categories)

'{"category": ["four wheeler"], "vehicle": ["velocity"], "model": ["1.3 lxi", "1.3 vxi", "1.3 zxi"], "aggregate": ["engine, fuel group", "electrical group", "power train, chassis group", "body group"], "groupno": ["g599-plate - a", "fig - 21", "fig - 22", "fig-00025", "fig - 16", "fig - 17", "figno - 101", null, "e241d024", "fig - 19", "fig - 24", "fig - 18", "fig - 15", "fig - 14", "dosing002"], "assemblyname": ["roops assembly", "chassis assembly", "exhaust system", "filter assembly ", "air intake assembly", "crankcase with stud", "side body", "starting motor", "front body panel", "engine assembly", "cooling system", "cylinder block group &cylinder block head includ", "oil pan group", "piston assembly ", "battery"], "partno": ["75-886", "72-318", "21-222-23", "34-100", "82-513-2", "30-136", "07-103", "e04g130003", "82-220", "42-171", "33-134", "33-125-1", "06311-75018", "45-010", "42-174"], "description": ["spindle assy lt1042 with star blade hole (late productio", "spindle pulley for 42\\u201d cut", "choke cable z-force with kohler engine(except z-fo", "oil filter x300 series 2-3/4\\"od x 2-7/8\\" ht, 2-3/4\\" seal od", "_5_transmission_brace", "brake safety switch x300 series tractors", "bearing kit", "guage wheel 4-3/4\\u201d x 1-3/8\\u201d", "blade rzt42 star center hole gatormulcher\\u2122 3 in 1", "pivot end caps", "pto engagement cable 100 series tractors", "wheel assembly", "v idler 100 series", "deck drive belt lt1042", "deck idler 100 series, 3-5/16\\u201d overall od, flat width 7/8\\u201d, bore:"]}'

In [ ]:

Column Name     Data Type 
category        text
vehicle         text
model           text
aggregate       text
groupno         text
assemblyname    text
partno          text
description     text

category        object
vehicle         object
model           object
aggregate       object
groupno         object
assemblyname    object
partno          object
description     object
dtype: object